<div class="grid">
  <p *ngIf="!this.displaySymbol; else symbol" class="display">{{ display }}</p>
  <ng-template #symbol>
    <p class="display">{{ displayAction }}</p>
  </ng-template>
<div class="grid__container">
  <div class="grid__items oper" (click)="oper('X')">x</div>
  <div class="grid__items oper" (click)="oper('%')">/</div>
  <div class="grid__items oper" (click)="oper('+')">+</div>
  <div class="grid__items oper" (click)="oper('-')">-</div>
  <div class="grid__items num" (click)="numClick(1)">1</div>
  <div class="grid__items num" (click)="numClick(2)">2</div>
  <div class="grid__items num" (click)="numClick(3)">3</div>
  <div class="grid__items num" (click)="numClick(4)">4</div>
  <div class="grid__items num" (click)="numClick(5)">5</div>
  <div class="grid__items num" (click)="numClick(6)">6</div>
  <div class="grid__items num" (click)="numClick(7)">7</div>
  <div class="grid__items num" (click)="numClick(8)">8</div>
  <div class="grid__items num" (click)="numClick(9)">9</div>
  <div class="grid__items num" (click)="numClick(0)">0</div>
  <div class="grid__items oper" (click)="clear()">C</div>
 <div><button class="grid__items--equal" (click)="calculate()">=</button></div> 
</div>

</div>